{% extends 'base.html.twig' %}

{% block title %}Votre profil
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<div class="row">
			<h1>Vos informations</h1>
			<hr>
			<div class="col-md-8">
				Pseudo:
				{{user.username}}
				<br>
				Email:
				{{user.email}}
				<br>
				Adresse:
				{{user.address}}
				<br>
				Code postal:
				{{user.zip}}
				<br>
				Ville:
				{{user.city}}
			</div>

			<div class="col-md-4">
				<img src="{{asset('uploads/avatars/'~ user.avatar)}}" class="rounded-circle" width="150" alt="">
			</div>

			<a href="{{path('profile_user_edit')}}" class="btn btn-primary">Modifier vos informations</a>
		</div>
	</div>

{% endblock %}
